.App {
  text-align: center;
  height:100vh;
  width:100%;
  position:relative;
  overflow: hidden;
}

.set , .set2 , .set3{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  pointer-events: none;
}

.set div , .set2 div ,.set3 div{
  position: absolute;
  display: block;
}

.set div:nth-child(1) img{
  width:50px;
}

.set div:nth-child(2) img{
  width:20px;
}

.set div:nth-child(3) img{
  width:70px;
}

.set div:nth-child(4) img{
  width:40px;
}

.set div:nth-child(5) img{
  width:50px;
}

.set div:nth-child(6) img{
  width:20px;
}

.set div:nth-child(7) img{
  width:20px;
}

.set div:nth-child(8) img{
  width:50px;
}


.set div:nth-child(1){
  left: 20%;
  animation: animate 15s linear infinite;
  animation-delay:-7s;
}

.set div:nth-child(2){
  left: 30%;
  animation: animate 30s linear infinite;
  animation-delay:-5s;
}

.set div:nth-child(3){
  left: 50%;
  animation: animate 20s linear infinite;
  animation-delay:-5s;
}

.set div:nth-child(4){
  left: 60%;
  animation: animate 25s linear infinite;
  animation-delay:-4s;
}

.set div:nth-child(5){
  left: 70%;
  animation: animate 14s linear infinite;
  animation-delay:-8s;
}

.set div:nth-child(6){
  left: 90%;
  animation: animate 22s linear infinite;
  animation-delay:-8s;
}

.set div:nth-child(7){
  left: 80%;
  animation: animate 28s linear infinite;
  animation-delay:-10s;
}

.set div:nth-child(8){
  left: 10%;
  animation: animate 20s linear infinite;
  animation-delay:-4s;
}

.set2{
  transform: scale(3) rotateY(180deg);
  filter: blur(1px);
}

.set3{
  transform: scale(0.8) rotateY(180deg);
  filter: blur(2px);
}



@keyframes animate {
  0%{
    opacity: 0;
    top:-10%;
    transform: translateX(20px) rotate(0deg);
  }

  10%{
    opacity:1;
  }

  20%{
    transform: translateX(-20px) rotate(45deg);
  }

  40%{
    transform: translateX(-20px) rotate(90deg);
  }

  60%{
    transform: translateX(20px) rotate(180deg);
  }

  80%{
    transform: translateX(-20px) rotate(270deg);
  }

  100%{
    top:110%;
    transform: translateX(-20px) rotate(360deg);
  }
}
