.App {
  --primary-color:#651a55;
  height:100vh;
  width:100%;
  position:relative;
  overflow: hidden;
}

.set , .set2 , .set3{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  pointer-events: none;
}

.set div , .set2 div ,.set3 div{
  position: absolute;
  display: block;
}

.set div:nth-child(1) img{
  width:50px;
}

.set div:nth-child(2) img{
  width:20px;
}

.set div:nth-child(3) img{
  width:70px;
}

.set div:nth-child(4) img{
  width:40px;
}

.set div:nth-child(5) img{
  width:50px;
}

.set div:nth-child(6) img{
  width:20px;
}

.set div:nth-child(7) img{
  width:20px;
}

.set div:nth-child(8) img{
  width:50px;
}


.set div:nth-child(1){
  left: 20%;
  animation: animate 15s linear infinite;
  animation-delay:-7s;
}

.set div:nth-child(2){
  left: 30%;
  animation: animate 30s linear infinite;
  animation-delay:-5s;
}

.set div:nth-child(3){
  left: 50%;
  animation: animate 20s linear infinite;
  animation-delay:-5s;
}

.set div:nth-child(4){
  left: 60%;
  animation: animate 25s linear infinite;
  animation-delay:-4s;
}

.set div:nth-child(5){
  left: 70%;
  animation: animate 14s linear infinite;
  animation-delay:-8s;
}

.set div:nth-child(6){
  left: 90%;
  animation: animate 22s linear infinite;
  animation-delay:-8s;
}

.set div:nth-child(7){
  left: 80%;
  animation: animate 28s linear infinite;
  animation-delay:-10s;
}

.set div:nth-child(8){
  left: 10%;
  animation: animate 20s linear infinite;
  animation-delay:-4s;
}

.set2{
  transform: scale(3) rotateY(180deg);
  filter: blur(1px);
}

.set3{
  transform: scale(0.8) rotateY(180deg);
  filter: blur(2px);
}



@keyframes animate {
  0%{
    opacity: 0;
    top:-10%;
    transform: translateX(20px) rotate(0deg);
  }

  10%{
    opacity:1;
  }

  20%{
    transform: translateX(-20px) rotate(45deg);
  }

  40%{
    transform: translateX(-20px) rotate(90deg);
  }

  60%{
    transform: translateX(20px) rotate(180deg);
  }

  80%{
    transform: translateX(-20px) rotate(270deg);
  }

  100%{
    top:110%;
    transform: translateX(-20px) rotate(360deg);
  }
}


.container{
  width:90%;
  margin: auto;
}

.home{
  position: absolute;
  width:100%;
  top: 50%;
  transform: translateY(-50%);
}

.home h1{
  font-family:Reggae One;
  font-size: 60px;
  color:var(--primary-color);
  text-shadow: 3px 3px 6px #999;
}

.home .top-sub-header{
  font-size: 30px;
  font-family: Barlow;
  font-weight: 500;
  color:var(--primary-color);
}

.home .bot-sub-header{
  font-size: 20px;
  font-family: Barlow;
  font-weight: 400;
  padding-top:15px;
  color:var(--primary-color);
}

.bold{
  font-weight: 600;
}

.nav-links{
  display:flex;
  justify-content: space-between;
  margin-right: 1px;
  padding-top:20px;
}

.nav-links a{
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover{
  padding-bottom:5px;
  border-bottom:3px solid var(--primary-color);
}

.nav-links a:nth-child(1),.nav-links a:nth-child(2) , .nav-links a:nth-child(3){
  margin-right:20px;
}

.socials i{
  font-size: 18px;
  color:var(--primary-color);
}

.home-link{
  display: inline-block;
  text-decoration: none;
  margin-top:30px;
  color: var(--primary-color);
  padding:10px 20px;
  border:1px solid var(--primary-color);
  border-radius: 30px;
  font-weight: 800;
  position:relative;
  transition:0.2s linear;
}

.home-link:hover{
  background-color: var(--primary-color);
  color:#fff;
  font-weight: 800;
}

.shuriken{
  width:20px;
  animation:shuriken 1s linear infinite;
  margin-right:5px;
}

.logo h2{
  font-family: Reggae One;
  color: var(--primary-color);
}

@keyframes shuriken {
  0%{
    transform:rotate(0deg)
  }

  100%{
    transform: rotate(360deg);
  }
}

.logo{
  display:flex;
}

.logo:hover{
  cursor: pointer;
}

.logo:hover .shuriken{
  position:absolute;
  width:25px;
  margin-top:5px;
  animation:shuriken-right 5s linear infinite;
}

@keyframes shuriken-right{
  0%{
    left:50px;
    transform:rotate(0deg)
  }

  20%{
    transform: rotate(360deg);
  }

  40%{
    transform: rotate(0deg);
  }

  50%{
    left:180px;
  }

  60%{
    transform: rotate(360deg);
  }

  80%{
    transform: rotate(0deg);
  }

  100%{
    left:50px;
    transform: rotate(360deg);
  }
}


.flex{
  display:flex;
}

.space-between{
  justify-content: space-between;
}

.bold-text{
  font-weight: 700;
}